.slide1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../public/BannerImg/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../public/BannerImg/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../public/BannerImg/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}